/*
This css is for the homepage 
*/
body{
background-color: #FFFFFF;
font-family: arial;
}

/*
p {
 color: #aadecb
}

h1 {
color: #37c;
font-size: 175px;
}

h6 {
font-size:40px; 
font-family: arial;
}
/*
